In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# importing some historical datas
df_apple=pd.read_csv(r'E:\summer\datafiles\yfinance_data\AAPL_historical_data.csv')
df_amazon=pd.read_csv(r'E:\summer\datafiles\yfinance_data\AMZN_historical_data.csv')
df_google=pd.read_csv(r'E:\summer\datafiles\yfinance_data\GOOG_historical_data.csv')
df_apple.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0

In [7]:
# data frame stat
print('amazon historical data describtion\n')
print(df_amazon.describe())
print('google historical data describtion\n')
print(df_google.describe())
print('apple historical data describtion\n')
df_apple.describe()

amazon historical data describtion

              Open         High          Low        Close    Adj Close  \
count  6846.000000  6846.000000  6846.000000  6846.000000  6846.000000
mean     37.360464    37.801009    36.882561    37.351096    37.351096
std      53.756955    54.366449    53.087051    53.729913    53.729913
min       0.070313     0.072396     0.065625     0.069792     0.069792
25%       2.070125     2.120625     2.040156     2.076750     2.076750
50%       8.574500     8.666750     8.466500     8.591500     8.591500
75%      50.453876    50.723249    50.059875    50.426500    50.426500
max     200.089996   201.199997   199.050003   200.000000   200.000000

             Volume  Dividends  Stock Splits
count  6.846000e+03     6846.0   6846.000000
mean   1.380713e+08        0.0      0.003944
std    1.382346e+08        0.0      0.246789
min    9.744000e+06        0.0      0.000000
25%    6.505442e+07        0.0      0.000000
50%    1.020650e+08        0.0      0.000000
75%    1.567560e+08        0.0      0.000000
max    2.086584e+09        0.0     20.000000
google historical data describtion

              Open         High          Low        Close    Adj Close  \
count  5020.000000  5020.000000  5020.000000  5020.000000  5020.000000
mean     45.251315    45.728793    44.800587    45.274515    45.224493
std      43.338635    43.818298    42.918167    43.377299    43.332534
min       2.470490     2.534002     2.390042     2.490913     2.488082
25%      13.034705    13.145415    12.881592    13.032090    13.017277
50%      26.982210    27.194902    26.791387    27.005927    26.975230
75%      60.215126    60.758375    59.811811    60.280252    60.211734
max     191.750000   193.309998   190.619995   192.660004   192.660004

             Volume    Dividends  Stock Splits
count  5.020000e+03  5020.000000   5020.000000
mean   1.157539e+08     0.000040      0.004583
std    1.497936e+08     0.002823      0.284034
min    1.584340e+05     0.000000      0.000000
25%    2.733950e+07     0.000000      0.000000
50%    5.585480e+07     0.000000      0.000000
75%    1.425333e+08     0.000000      0.000000
max    1.650833e+09     0.200000     20.000000
apple historical data describtion

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
count,10998.000000,10998.000000,10998.000000,10998.000000,10998.000000,1.099800e+04,10998.000000,10998.000000
mean,22.299160,22.539055,22.068367,22.312754,21.494496,3.180806e+08,0.000752,0.001546
std,46.003685,46.496031,45.540929,46.037660,45.561916,3.354523e+08,0.011753,0.083663
min,0.049665,0.049665,0.049107,0.049107,0.037857,0.000000e+00,0.000000,0.000000
25%,0.299107,0.303710,0.290179,0.298549,0.241840,1.132545e+08,0.000000,0.000000
50%,0.531250,0.537946,0.522321,0.531250,0.432079,2.057412e+08,0.000000,0.000000
75%,20.204196,20.389554,19.998036,20.196160,17.253029,3.985275e+08,0.000000,0.000000
max,236.479996,237.229996,233.089996,234.820007,234.548523,7.421641e+09,0.250000,7.000000